@model Waedist.Models.Blog

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManageBlog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tittlepic" class="control-label"></label>
                <input asp-for="Tittlepic" class="form-control" />
                <span asp-validation-for="Tittlepic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tittle" class="control-label"></label>
                <input asp-for="Tittle" class="form-control" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pic" class="control-label"></label>
                <input asp-for="Pic" class="form-control" />
                <span asp-validation-for="Pic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline1" class="control-label"></label>
                <input asp-for="Headline1" class="form-control" />
                <span asp-validation-for="Headline1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline2" class="control-label"></label>
                <input asp-for="Headline2" class="form-control" />
                <span asp-validation-for="Headline2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text1" class="control-label"></label>
                <input asp-for="Text1" class="form-control" />
                <span asp-validation-for="Text1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text2" class="control-label"></label>
                <input asp-for="Text2" class="form-control" />
                <span asp-validation-for="Text2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

