@model IEnumerable<Waedist.Models.Useraccount>

@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Dashboard|Manage Users ";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header border-bottom">
            <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                    <h5 class="mb-0" data-anchor="data-anchor" id="hoverable-rows"> Users<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#hoverable-rows" style="padding-left: 0.375em;"></a></h5>
                </div>
                <div class="col-auto ms-auto">
                    <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-32bc75d3-359c-4b71-9a13-f78520f45e1d" id="dom-32bc75d3-359c-4b71-9a13-f78520f45e1d">
                    <div class="table-responsive scrollbar">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th class="text-nowrap" scope="col">Phone Number</th>

                                    <th class="text-nowrap" style="margin-left:60px" scope="col"><span class="d-inline-block"></span></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="hover-actions-trigger">
                                    <td class="align-middle text-nowrap">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-xl">
                                                <img class="rounded-circle" src="@Url.Content("~/Images/"+ item.Pic)" alt="">

                                            </div>
                                            <div class="ms-2">
                                                @Html.DisplayFor(modelItem => item.Fullname)
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-nowrap">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td style="margin-right:50px" class="align-middle text-nowrap">
                                        @Html.DisplayFor(modelItem => item.Phonenumber)
                                    </td>
                                    <td class="w-auto">
                                        <!--<div class="btn-group btn-group hover-actions end-0 me-4">
                                            <a href="/Useraccounts/Edit/@item.Userid" class="btn btn-light pe-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Details" aria-label="Details"><svg class="svg-inline--fa chevron-right fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg>--><!-- <span class="fas fa-edit"></span> Font Awesome fontawesome.com --><!--</a>
                                        </div>-->
                                    </td>
                                    <td style="margin-right:50px" class="align-middle text-nowrap">




                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>