@{
    Layout = "_AdminDashboardLayout";

    ViewData["Title"] = "Dashboard|Manage Aboutus";

}
<head>
    
</head>
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0" data-anchor="data-anchor" id="basic-form">Manage About<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#basic-form" style="padding-left: 0.375em;"></a></h5>
            </div>
            <div class="col-auto ms-auto">
                <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-d4ebf6c5-74b4-4308-8c64-cda718c9b324" id="dom-d4ebf6c5-74b4-4308-8c64-cda718c9b324">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-name">Title</label>
                        <input class="form-control" id="basic-form-name" type="text" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-email">Head Line</label>
                        <input class="form-control" id="basic-form-email" type="email" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-textarea">Text 1</label>
                        <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-textarea">Text 2</label>
                        <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-textarea">Text 3</label>
                        <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-textarea">Text 4</label>
                        <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="mb-3">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Background Image</label>
                        <input class="form-control" type="file">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-form-name">Vedio</label>
                        <input class="form-control" id="basic-form-name" type="text" placeholder="Copy the vedio link here !">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Icon Image</label>
                        <input class="form-control" type="file">
                    </div>
                    <button class="btn btn-falcon-danger " style="color:antiquewhite; background-color: #cea0a7; border-radius:8px "   type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>