@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@*element.style {
    background-image: linear-gradient(-45deg, #483c56,#c46176), url(/DashboardStatics/img/generic/bg-navbar.png);
}*@

<div class="row">
    <div class="col-12">
        <div style=" background-color: #FEFDFD " class="card mb-3 btn-reveal-trigger">
            <div style="background-color: #FEFDFD; margin-bottom: 5.5rem !important; min-height: 12vh !important; " class="card-header position-relative min-vh-25 mb-8">
                <div style="height:250px" class="cover-image">
                    <!--/.bg-holder-->
                    <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
                        <source src="~/DashboardStatics/video/X2Download.com-Clouds%20in%20the%20pink%20sky%20at%20sunset%20(A).mp4" type="video/mp4">
                        <source src="~/DashboardStatics/video/X2Download.com-Clouds%20in%20the%20pink%20sky%20at%20sunset%20(A).webm" type="video/webm">
                    </video>
                </div>
                <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                    <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                        <img src="../../assets/img/team/2.jpg" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail">
                        <input class="d-none" id="profile-image" type="file">
                        <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span class="bg-holder overlay overlay-0"></span><span class="z-index-1 text-white dark__text-white text-center fs--1"><svg class="svg-inline--fa fa-camera fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg><!-- <span class="fas fa-camera"></span> Font Awesome fontawesome.com --><span class="d-block">Update</span></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row g-0">

    <div class="col-12 pe-lg-2">
        <div class="card mb-3">
            <div style=" background-color: #FEFDFD " class="card-header">
                <h5 class="mb-0">Profile Settings</h5>
            </div>
            <div class="card-body bg-light">
                <form class="row g-3">
                    <div class="col-lg-12">
                        <label class="form-label" for="email3">Full Name</label>
                        <input class="form-control" id="email3" type="text" value="@ViewBag.AdminName">
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="email1">Email</label>
                        <input class="form-control" id="email1" type="text" value="anthony@gmail.com">
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="email2">Phone</label>
                        <input class="form-control" id="email2" type="text" value="+44098098304">
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <button style=" background-color: #eeb0bc; border-color: #eeb0bc; border-radius: 20px; " class="btn btn-primary rounded-sm" type="submit">Update </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Change Password</h5>
            </div>
            <div class="card-body bg-light">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="old-password">Old Password</label>
                        <input class="form-control" id="old-password" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new-password">New Password</label>
                        <input class="form-control" id="new-password" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="confirm-password">Confirm Password</label>
                        <input class="form-control" id="confirm-password" type="password">
                    </div>
                    <button style=" background-color: #eeb0bc; border-color: #eeb0bc; border-radius:20px;" class="btn btn-primary d-block w-100" type="submit">Update Password </button>
                </form>
            </div>
        </div>
    </div>

</div>