@model IEnumerable<Waedist.Models.JoinUserOrder>

@{
    ViewData["Title"] = "Dashboard| My Bag";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
    var count = 0;
    decimal Total = 0;
    foreach (var item in Model)
    {
        @if (ViewBag.Userid == item.useraccount.Userid)
        {
            @if (item.orderproduct.Status == "1")

                count = count + 1;
            Total = Convert.ToDecimal(Total + item.orderproduct.Totalamount);
        }
    }
}



<div class="content">



    <div  id="table"class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    <h5 class="mb-3 mb-md-0">Shopping Cart (@count Items)</h5>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row gx-card mx-0 bg-200 text-900 fs--1 fw-semi-bold">
                <div class="col-9 col-md-8 py-2">Name</div>

                <div class="col-3 col-md-4">
                    <div class="row">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">Quantity</div>
                        <div class="col-12 col-md-4 text-end py-2">Price</div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                @if (ViewBag.Userid == item.useraccount.Userid)
                {
                    @if (item.orderproduct.Status == "1" && item.order.Display == "1")
                    {
                        <div  class="row gx-card mx-0 align-items-center border-bottom border-200">
                            <div class="col-8 py-3">
                                <div class="d-flex align-items-center">
                                    <a href="#"><img class="img-fluid rounded-1 me-3 d-none d-md-block" src="@Url.Content("~/Images/Products/" + item.product.Pic)" alt="" width="60"></a>
                                    <div class="flex-1">
                                        <h5 class="fs-0"><a class="text-900" href="#">@Html.DisplayFor(modelitem => item.product.Productname) </a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 py-3">
                                <div class="row align-items-center">
                                    <div class="col-md-8 d-flex justify-content-end justify-content-md-center order-1 order-md-0">
                                        <div>
                                            <div class="input-group input-group-sm flex-nowrap" data-quantity="data-quantity">
                                                <input readonly class="form-control text-center px-2 input-spin-none" type="number" min="1" value="@Html.DisplayFor(modelitem => item.orderproduct.Qty)" aria-label="Amount (to the nearest dollar)" style="width: 50px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-end ps-0 order-0 order-md-1 mb-2 mb-md-0 text-600">@Html.DisplayFor(modelitem => item.product.Price) |@Html.DisplayFor(modelitem => item.orderproduct.Totalamount) </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            }
            <div class="row fw-bold gx-card mx-0">
                <div class="col-9 col-md-8 py-2 text-end text-900">Total</div>
                <div class="col px-0">
                    <div class="row gx-card mx-0">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">@count (items)</div>
                        <div class="col-12 col-md-4 text-end py-2">$@Total</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light d-flex justify-content-end">
        </div>
    </div>
    <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
            <div class="col-12 col-sm-auto text-center">
                @* Comments*@
            </div>
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v3.4.0</p>
            </div>
        </div>
    </footer>
</div>

















