
@{ ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
    }





<div class="card h-100">
    <div class="card-header">
        <h5 class="mb-0">Billing</h5>
    </div>
    <div class="card-body bg-light">
  
        <hr>
        <h5 class="d-flex justify-content-between"><span>Payment service upon receipt will be available soon </span></h5>
        <p class="fs--1 text-600">Thank you for trusting Waedist Stores </p>
        <partial name="_Payment.cshtml" />
        <div class="text-center mt-2"><small class="d-inline-block">By continuing, you are agreeing to our subscriber <a href="#!">terms</a></small></div>
    </div>
</div>