@model Waedist.Models.Testmoninal

@{
    ViewData["Title"] = "Dashboard| Shopping Cart";

    Layout = "_UserDashboardLayout";
}















<div class="card-body overflow-hidden">

    <p>

    </p>
    <div class="row mx-n4 ">
        <div style="width:66%;margin:auto; margin-top:80px  " class="col-8 row-cols-8 p-1">
            <div style="height: 450px; " class=" card ">
                <div class="card-header">
                    <h5 class="mb-0">Create a Testimony</h5>
                </div>
                <div class="col-auto ms-auto">
                    <div style="margin-bottom:20px; margin-right:15px" class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <a class="btn btn-sm active" asp-controller="Stores" asp-action="ViewStores">Back to the List</a>
                    </div>
                </div>
                <div id="Edit" class="card-body bg-light pb-0">
                    <div class="collapse show" id="experience-form">
                        <form asp-controller="UserDashboard" asp-action="Create" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Status" />
                            <input type="hidden" asp-for="Userid" />

                            <div class="col-9 col-sm-7 mb-3">
                                <label style="margin-right:70px" class="control-label" asp-for="Name"></label>
                                <input style="width:535px" asp-for="Name" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-9 col-sm-7 mb-3">
                                <label style="margin-right:70px" class="control-label" asp-for="Message"></label>
                                <div class="mb-3">
                                    <textarea style="width:535px;" asp-for="Message" class="form-control" id="basic-form-textarea" rows="3" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top:10px" for="img" class="control-label">Your Image</label>
                                <input type="file" accept="image/*" name="img" id="img" class="form-control" />
                            </div>

                            <div class="col-9 col-sm-7 offset-3">
                                <button style=" margin-left:270px; margin-top: 10px; background-color: #eeb0bc; border-color: #eeb0bc; border-radius: 20px; " class="btn btn-primary rounded-sm" type="submit" value="Create">Create</button>

                            </div>



                        </form>
                        <div class="border-dashed-bottom my-4"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>









@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testimonials</title>
</head>
<body>

    <h4>Testmoninal</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="UserDashboard" asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="img" class="control-label"></label>
                    <input type="file" accept="image/*" name="img" id="img" class="form-control" />
                </div>
                <input type="hidden" asp-for="Status" />
                <input type="hidden" asp-for="Userid" />


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</body>
</html>*@
