@model Waedist.Models.Testmoninal




@*<h4>Testmoninal</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="_EditStatus">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Testmoninalid" />
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Testimage" class="control-label"></label>
                    <input asp-for="Testimage" class="form-control" />
                    <span asp-validation-for="Testimage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Userid" class="control-label"></label>
                    <select asp-for="Userid" class="form-control" asp-items="ViewBag.Userid"></select>
                    <span asp-validation-for="Userid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

